n8n/RIFAH Connect - Flow 2B Share Lead Premium.json
{
  "name": "RIFAH Connect - Flow 2B Share Lead Premium",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "flow2b-webhook",
        "options": {
          "rawBody": false
        }
      },
      "id": "f2b-node-01",
      "name": "WhatsApp Webhook POST",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        300
      ],
      "webhookId": "rifah-wa-flow2b-post-webhook"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst entry = (body.entry || [])[0] || {};\nconst change = (entry.changes || [])[0] || {};\nconst value = change.value || {};\nconst messages = value.messages || [];\n\nif (!messages.length) {\n  return [{ json: { skip: true } }];\n}\n\nconst msg = messages[0];\nconst from = msg.from;\nconst msgId = msg.id;\nconst timestamp = msg.timestamp;\nconst type = msg.type;\n\nlet text = '';\nif (type === 'text') {\n  text = msg.text?.body || '';\n} else if (type === 'button') {\n  text = msg.button?.text || '';\n} else if (type === 'image') {\n  text = msg.image?.caption || '';\n} else if (type === 'document') {\n  text = msg.document?.caption || '';\n}\n\nreturn [{ json: { from, msgId, timestamp, type, text, skip: false } }];\n"
      },
      "id": "f2b-node-02",
      "name": "Extract Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "f2b-c1",
              "leftValue": "={{ $json.skip }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            },
            {
              "id": "f2b-c1b",
              "leftValue": "={{ $json.skip }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "f2b-node-03",
      "name": "IF Valid Message",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        400,
        300
      ]
    },
    {
      "parameters": {
        "url": "=http://frontend:8080/api/resource/RIFAH Session",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "filters",
              "value": "={{ JSON.stringify([[\"phone_number\",\"=\",$('Extract Message').item.json.from]]) }}"
            },
            {
              "name": "fields",
              "value": "[\"name\",\"phone_number\",\"current_step\",\"session_data\",\"status\"]"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "f2b-node-04",
      "name": "Get Session",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        600,
        200
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "TrXdy0OKoZPaxLo0",
          "name": "ERPNext API Auth"
        }
      }
    },
    {
      "parameters": {
        "url": "=http://frontend:8080/api/resource/RIFAH Member",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "filters",
              "value": "={{ JSON.stringify([[\"whatsapp_number\",\"=\",$('Extract Message').item.json.from]]) }}"
            },
            {
              "name": "fields",
              "value": "[\"name\",\"rifah_id\",\"full_name\",\"business_name\",\"city_state\",\"industry\",\"membership_tier\",\"status\",\"whatsapp_number\"]"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "f2b-node-05",
      "name": "Get Member",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        600,
        400
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "TrXdy0OKoZPaxLo0",
          "name": "ERPNext API Auth"
        }
      }
    },
    {
      "parameters": {},
      "id": "f2b-node-06",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        800,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// RIFAH Connect \u2014 Flow 2B State Machine (Premium Lead)\n// ============================================================\nconst msgNode = $('Extract Message').first().json;\nconst sessionRaw = $('Get Session').first().json;\nconst memberRaw = $('Get Member').first().json;\n\nconst phone = msgNode.from;\nconst msgType = msgNode.type || 'text';\nconst rawText = msgNode.text || '';\nconst msgText = rawText.trim().toUpperCase();\nconst rawTextOriginal = rawText.trim();\n\n// Parse session\nconst sessionDocs = sessionRaw?.data || [];\nconst sessionDoc = sessionDocs.length > 0 ? sessionDocs[0] : {};\nlet currentStep = sessionDoc.current_step || 'IDLE';\nlet sessionData = {};\ntry { sessionData = JSON.parse(sessionDoc.session_data || '{}'); } catch(e) {}\nconst sessionName = sessionDoc.name || null;\n\n// Parse member\nconst memberDocs = memberRaw?.data || [];\nconst memberExists = memberDocs.length > 0;\nconst member = memberExists ? memberDocs[0] : null;\n\nlet responseMsg = '';\nlet nextStep = currentStep;\nlet action = 'none';\nlet actionData = {};\n\n// \u2500\u2500\u2500 STEPS OWNED BY FLOW 2B \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nconst leadSteps = ['LEAD_TYPE','LEAD_DESC','LEAD_LOC','LEAD_URGENCY','LEAD_BUDGET'];\nconst aiSteps = ['AI_Q1','AI_Q2','AI_Q3','AI_Q4','AI_Q5','AI_Q6'];\nconst premiumSteps = ['LEAD_CREATE','VENDOR_SELECTION','VENDOR_CONFIRM'];\nconst vendorSteps = ['VENDOR_INTRO','VENDOR_Q1','VENDOR_Q2','VENDOR_Q3','VENDOR_Q4','VENDOR_Q5','VENDOR_Q6','VENDOR_SCORE','VENDOR_SUBMIT'];\nconst flow2bSteps = [...leadSteps, ...aiSteps, ...premiumSteps, ...vendorSteps];\n\n// Admin command detection (from admin WhatsApp number)\nconst adminPhone = sessionData._admin_phone || '';\nconst connectMatch = rawTextOriginal.match(/^CONNECT\\s+(\\S+)\\s+(\\S+)/i);\nconst declineMatch = rawTextOriginal.match(/^DECLINE\\s+(\\S+)\\s+(\\S+)/i);\nif (connectMatch || declineMatch) {\n  const m = connectMatch || declineMatch;\n  action = 'admin_approval';\n  actionData = {\n    command: connectMatch ? 'CONNECT' : 'DECLINE',\n    lead_id: m[1],\n    vendor_id: m[2],\n    admin_phone: phone\n  };\n  return [{ json: { phone, responseMsg: '', nextStep: currentStep, action, actionData: JSON.stringify(actionData), sessionData: JSON.stringify(sessionData), sessionName, currentStep, shouldSendMsg: false, skip: false } }];\n}\n\nif (!flow2bSteps.includes(currentStep)) {\n  return [{ json: { skip: true, phone, currentStep } }];\n}\n\n// \u2500\u2500\u2500 PREMIUM GATE \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nif (!member || member.membership_tier !== 'PREMIUM' || member.status !== 'Active Premium') {\n  if (msgText === 'UPGRADE') {\n    responseMsg = '\ud83d\udcb3 *Upgrade to PREMIUM (\u20b93,000/year)*\\n\\nBenefits:\\n\u2022 \u26a1 Instant smart matching from 1 lakh+ businesses\\n\u2022 \ud83d\udcca Top 10 vendors shown in 10 seconds\\n\u2022 \ud83d\udce8 Direct personalized introductions\\n\u2022 \u23f1\ufe0f 2-hour admin response SLA\\n\u2022 \u2b50 PREMIUM REQUEST badge on group posts\\n\\nContact RIFAH admin to upgrade:\\n[ADMIN_CONTACT]\\n\\nType MENU to return to main menu.';\n  } else {\n    responseMsg = '\u2b50 *PREMIUM Feature*\\n\\nThis feature is exclusive to PREMIUM members.\\n\\nUpgrade to PREMIUM (\u20b93,000/year) to get:\\n\u2022 Instant smart matching\\n\u2022 Top 10 vendors in 10 seconds\\n\u2022 Direct vendor introductions\\n\u2022 2-hour SLA\\n\\nReply *UPGRADE* to learn more, or *MENU* to go back.';\n  }\n  return [{ json: { phone, responseMsg, nextStep: 'MENU', action: 'none', actionData: '{}', sessionData: JSON.stringify({ current_step: 'MENU' }), sessionName, currentStep, shouldSendMsg: true, skip: false } }];\n}\n\n// \u2500\u2500\u2500 STEP MACHINE \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nswitch (currentStep) {\n\n  case 'LEAD_TYPE': {\n    const typeMap = { '1':'BUY', '2':'SELL', '3':'SERVICE NEED', '4':'SERVICE OFFER',\n                      'BUY':'BUY', 'SELL':'SELL', 'SERVICE NEED':'SERVICE NEED', 'SERVICE OFFER':'SERVICE OFFER' };\n    const type = typeMap[msgText] || typeMap[rawTextOriginal.toUpperCase().trim()];\n    if (type) {\n      sessionData.lead_type = type;\n      const emoji = { BUY:'\ud83d\uded2', SELL:'\ud83d\udcb0', 'SERVICE NEED':'\ud83d\udd27', 'SERVICE OFFER':'\ud83d\udee0\ufe0f' }[type];\n      responseMsg = `\u2705 Got it! You selected: *${emoji} ${type}*\\n\\n\ud83d\udcdd *Describe your requirement in detail:*\\n_(Minimum 10 words for best matching)_\\n\\n*Example:*\\n_\"Need 5000 plastic bottles, 500ml, food-grade PET for juice packaging in Pune\"_`;\n      nextStep = 'LEAD_DESC';\n    } else {\n      responseMsg = `\u2b50 *PREMIUM Lead Sharing*\\n\\nWhat type of requirement do you have?\\n\\n1\ufe0f\u20e3 *BUY* \u2014 I need to purchase\\n2\ufe0f\u20e3 *SELL* \u2014 I have products to sell\\n3\ufe0f\u20e3 *SERVICE NEED* \u2014 I need a service\\n4\ufe0f\u20e3 *SERVICE OFFER* \u2014 I provide a service\\n\\n_Reply: 1, 2, 3, or 4_`;\n    }\n    break;\n  }\n\n  case 'LEAD_DESC': {\n    const wordCount = rawTextOriginal.trim().split(/\\s+/).filter(w => w.length > 0).length;\n    if (wordCount >= 10) {\n      sessionData.lead_description = rawTextOriginal.trim();\n      responseMsg = `\u2705 Got it!\\n\\n\ud83d\udccd *Which city/region should we search?*\\n\\n*Examples:*\\n\u2022 \"Pune\" \u2014 Single city\\n\u2022 \"Pune, Mumbai\" \u2014 Multiple cities\\n\u2022 \"Maharashtra\" \u2014 State-wide\\n\u2022 \"All India\" \u2014 Pan-India\\n\\n_Our algorithm will prioritize vendors in your location_`;\n      nextStep = 'LEAD_LOC';\n    } else {\n      responseMsg = `\u26a0\ufe0f Please provide more details *(minimum 10 words)*\\n\\nYou provided ${wordCount} word${wordCount === 1 ? '' : 's'}. More detail = better vendor matches.`;\n    }\n    break;\n  }\n\n  case 'LEAD_LOC': {\n    if (rawTextOriginal.trim().length >= 2) {\n      sessionData.lead_location = rawTextOriginal.trim();\n      responseMsg = `\u2705 Got it!\\n\\n\u23f0 *How urgent is this requirement?*\\n\\n1\ufe0f\u20e3 \ud83d\udd34 *URGENT* \u2014 Need immediately (48 hrs)\\n2\ufe0f\u20e3 \ud83d\udcc5 *THIS WEEK* \u2014 Within 7 days\\n3\ufe0f\u20e3 \ud83d\udcc6 *THIS MONTH* \u2014 Within 30 days\\n4\ufe0f\u20e3 \ud83d\udd50 *FLEXIBLE* \u2014 No fixed timeline\\n\\n_Reply 1-4_`;\n      nextStep = 'LEAD_URGENCY';\n    } else {\n      responseMsg = `\u26a0\ufe0f Please enter a valid location (minimum 2 characters).`;\n    }\n    break;\n  }\n\n  case 'LEAD_URGENCY': {\n    const urgencyMap = { '1':'URGENT', '2':'THIS WEEK', '3':'THIS MONTH', '4':'FLEXIBLE',\n                         'URGENT':'URGENT', 'THIS WEEK':'THIS WEEK', 'THIS MONTH':'THIS MONTH', 'FLEXIBLE':'FLEXIBLE' };\n    const urgency = urgencyMap[msgText];\n    if (urgency) {\n      sessionData.lead_urgency = urgency;\n      responseMsg = `\u2705 Got it!\\n\\n\ud83d\udcb0 *What's your budget range?* _(Optional)_\\n\\n*Examples:*\\n\u2022 \"\u20b950,000 - \u20b91,00,000\"\\n\u2022 \"\u20b95 lakh\"\\n\u2022 \"Negotiable\"\\n\\n_Type SKIP to skip_`;\n      nextStep = 'LEAD_BUDGET';\n    } else {\n      responseMsg = `\u26a0\ufe0f Please select urgency: 1 (URGENT), 2 (THIS WEEK), 3 (THIS MONTH), or 4 (FLEXIBLE)`;\n    }\n    break;\n  }\n\n  case 'LEAD_BUDGET': {\n    sessionData.lead_budget = msgText === 'SKIP' ? null : rawTextOriginal.trim();\n    sessionData.member_id = member.rifah_id || member.name;\n    sessionData.member_name = member.business_name || member.full_name;\n    sessionData.member_phone = phone;\n    action = 'generate_ai_questions';\n    actionData = { ...sessionData };\n    responseMsg = `\ud83e\udd16 *AI Assistant*\\n\\nPerfect! Generating smart qualification questions to find your best PREMIUM match...\\n\\n\u23f3 Please wait a moment.`;\n    nextStep = 'AI_Q1';\n    break;\n  }\n\n  case 'AI_Q1':\n  case 'AI_Q2':\n  case 'AI_Q3':\n  case 'AI_Q4':\n  case 'AI_Q5':\n  case 'AI_Q6': {\n    const qNum = parseInt(currentStep.replace('AI_Q',''));\n    const wordCount2 = rawTextOriginal.trim().split(/\\s+/).filter(w => w.length > 0).length;\n    if (wordCount2 < 1) {\n      responseMsg = `\u26a0\ufe0f Please provide a valid answer.`;\n      break;\n    }\n    sessionData[`ai_answer_${qNum}`] = rawTextOriginal.trim();\n\n    const aiQuestions = sessionData.ai_questions || [];\n    const totalQ = aiQuestions.length;\n    const nextQNum = qNum + 1;\n\n    if (nextQNum <= totalQ && aiQuestions[nextQNum - 1]) {\n      responseMsg = `\u2705 Got it!\\n\\n*Question ${nextQNum} of ${totalQ}:*\\n${aiQuestions[nextQNum - 1]}`;\n      nextStep = `AI_Q${nextQNum}`;\n    } else {\n      // All questions answered \u2014 create premium lead + run matching\n      action = 'create_premium_lead';\n      actionData = { ...sessionData };\n      responseMsg = `\u2705 *All details captured!*\\n\\n\u2b50 *PREMIUM Processing:*\\n\ud83d\udd0d Searching 1 lakh+ businesses...\\n\ud83d\udcca Running smart matching algorithm...\\n\\n_Results in 5-10 seconds_`;\n      nextStep = 'VENDOR_SELECTION';\n    }\n    break;\n  }\n\n  case 'VENDOR_SELECTION': {\n    const matchedVendors = sessionData.matched_vendors || [];\n\n    // If no vendors yet \u2014 matching is still running or zero results\n    if (!matchedVendors.length) {\n      responseMsg = `\ud83d\udd0d Still searching for matches... Please wait a moment and try again.`;\n      break;\n    }\n\n    // Parse selection: \"1,2,3\" or \"1-5\" or \"ALL\"\n    let selectedIndices = [];\n    const upperMsg2 = rawTextOriginal.trim().toUpperCase();\n\n    if (upperMsg2 === 'ALL') {\n      selectedIndices = matchedVendors.map((_, i) => i);\n    } else {\n      const parts = upperMsg2.split(',');\n      for (const part of parts) {\n        const trimmed = part.trim();\n        const rangeParts = trimmed.split('-');\n        if (rangeParts.length === 2 && !isNaN(rangeParts[0]) && !isNaN(rangeParts[1])) {\n          const start = parseInt(rangeParts[0]) - 1;\n          const end = parseInt(rangeParts[1]) - 1;\n          const lo = Math.min(start, end);\n          const hi = Math.max(start, end);\n          for (let i = lo; i <= hi && i < matchedVendors.length; i++) {\n            if (i >= 0) selectedIndices.push(i);\n          }\n        } else {\n          const idx = parseInt(trimmed) - 1;\n          if (!isNaN(idx) && idx >= 0 && idx < matchedVendors.length) {\n            selectedIndices.push(idx);\n          }\n        }\n      }\n      selectedIndices = [...new Set(selectedIndices)]; // deduplicate\n    }\n\n    if (!selectedIndices.length) {\n      responseMsg = `\u274c Invalid selection. Please reply with:\\n\u2022 Numbers: \"1,2,3\"\\n\u2022 Range: \"1-5\"\\n\u2022 All: \"ALL\"\\n\\nAvailable: 1 to ${matchedVendors.length}`;\n      break;\n    }\n\n    const selectedVendors = selectedIndices.map(i => matchedVendors[i]);\n    sessionData.selected_vendors = selectedVendors;\n\n    const confirmList = selectedVendors.map((v, i) =>\n      `${i+1}. ${v.business_name}, ${v.city_state} (Match: ${v.match_score}/100)`\n    ).join('\\n');\n\n    responseMsg = `\u2705 You selected *${selectedVendors.length} vendor(s)*:\\n\\n${confirmList}\\n\\nProceed? Reply:\\n*YES* \u2014 Send personalized introductions\\n*CHANGE* \u2014 Re-select vendors`;\n    nextStep = 'VENDOR_CONFIRM';\n    break;\n  }\n\n  case 'VENDOR_CONFIRM': {\n    if (msgText === 'CHANGE') {\n      const matchedVendors = sessionData.matched_vendors || [];\n      const listMsg = matchedVendors.map((v, i) =>\n        `${i+1}. *${v.business_name}*, ${v.city_state}\\n   Score: ${v.match_score}/100 | ${v.industry}`\n      ).join('\\n');\n      responseMsg = `\ud83d\udccb *Matched Vendors:*\\n\\n${listMsg}\\n\\nReply with numbers (e.g. \"1,2,3\"), a range (e.g. \"1-5\"), or \"ALL\":`;\n      nextStep = 'VENDOR_SELECTION';\n    } else if (msgText === 'YES') {\n      action = 'send_introductions';\n      actionData = { selected_vendors: sessionData.selected_vendors || [], lead_id: sessionData.premium_lead_id, phone };\n      responseMsg = `\u2b50 *Sending PREMIUM introductions...*\\n\\nEach vendor receives a personalized message with your requirements.\\nYou'll be notified when vendors respond.\\n\\n_Introductions being sent now..._`;\n      nextStep = 'COMPLETED_BUYER';\n    } else {\n      responseMsg = `Please reply *YES* to send introductions or *CHANGE* to re-select vendors.`;\n    }\n    break;\n  }\n\n  case 'VENDOR_INTRO': {\n    if (msgText === 'INTERESTED' || msgText === 'YES') {\n      if (!member) {\n        responseMsg = `\u26a0\ufe0f You need to be a registered RIFAH member to respond to leads.\\n\\nPlease send *Hi* to register.`;\n        nextStep = 'IDLE';\n      } else {\n        action = 'generate_vendor_questions';\n        actionData = { ...sessionData, vendor_id: member.rifah_id || member.name, vendor_name: member.business_name || member.full_name, vendor_phone: phone };\n        sessionData.vendor_id = member.rifah_id || member.name;\n        sessionData.vendor_name = member.business_name || member.full_name;\n        responseMsg = `\ud83e\udd16 *Vendor Qualification*\\n\\nGreat! I'll ask 6 quick questions to match you with this PREMIUM lead.\\n\\n\u23f3 Preparing questions...`;\n        nextStep = 'VENDOR_Q1';\n      }\n    } else if (msgText === 'DETAILS') {\n      const leadInfo = sessionData.lead_for_vendor || {};\n      responseMsg = `\ud83d\udccb *Complete Lead Details:*\\n\\n\ud83d\udcdd ${leadInfo.description || 'No description available'}\\n\ud83d\udccd Location: ${leadInfo.location || 'N/A'}\\n\ud83d\udcb0 Budget: ${leadInfo.budget || 'Negotiable'}\\n\u23f1\ufe0f Urgency: ${leadInfo.urgency || 'N/A'}\\n\ud83d\udc64 Posted by: PREMIUM member\\n\\nInterested? Reply *INTERESTED* or *NOT NOW*`;\n    } else if (msgText === 'NOT NOW' || msgText === 'NO') {\n      sessionData.intro_status = 'Declined';\n      action = 'vendor_declined';\n      actionData = { lead_id: sessionData.lead_id, vendor_id: member?.rifah_id || '', vendor_phone: phone };\n      responseMsg = `No problem! We appreciate your time. We'll keep you in mind for future PREMIUM leads. \ud83d\udc4b`;\n      nextStep = 'IDLE';\n    } else {\n      responseMsg = `\ud83d\udc4b *PREMIUM Lead Opportunity*\\n\\nReply:\\n*INTERESTED* \u2014 Proceed with qualification\\n*DETAILS* \u2014 See complete requirements\\n*NOT NOW* \u2014 Decline this lead`;\n    }\n    break;\n  }\n\n  case 'VENDOR_Q1':\n  case 'VENDOR_Q2':\n  case 'VENDOR_Q3':\n  case 'VENDOR_Q4':\n  case 'VENDOR_Q5':\n  case 'VENDOR_Q6': {\n    const vqNum = parseInt(currentStep.replace('VENDOR_Q',''));\n    sessionData[`vendor_answer_${vqNum}`] = rawTextOriginal.trim();\n\n    const vendorQs = sessionData.vendor_questions || [];\n    const totalVQ = Math.min(vendorQs.length, 6);\n    const nextVQ = vqNum + 1;\n\n    if (nextVQ <= totalVQ) {\n      const qObj = vendorQs[nextVQ - 1];\n      const qText = typeof qObj === 'object' ? qObj.q : qObj;\n      responseMsg = `\u2705 Got it!\\n\\n*Question ${nextVQ} of ${totalVQ}:*\\n${qText}\\n\\n_Please provide your answer:_`;\n      nextStep = `VENDOR_Q${nextVQ}`;\n    } else {\n      action = 'calculate_vendor_score';\n      actionData = { ...sessionData };\n      responseMsg = `\u2705 *All questions answered!*\\n\\nCalculating your compatibility score for this PREMIUM lead... \ud83d\udcca`;\n      nextStep = 'VENDOR_SCORE';\n    }\n    break;\n  }\n\n  case 'VENDOR_SCORE': {\n    if (msgText === 'SUBMIT') {\n      action = 'submit_vendor_interest';\n      actionData = { ...sessionData };\n      responseMsg = `\u23f3 Submitting your PREMIUM interest...`;\n      nextStep = 'VENDOR_SUBMIT';\n    } else if (msgText === 'CANCEL') {\n      responseMsg = `Understood. We'll notify you about future matching leads.`;\n      nextStep = 'IDLE';\n    } else {\n      const score = sessionData.compatibility_score || 0;\n      const emoji = score >= 80 ? '\ud83c\udf1f\ud83c\udf1f\ud83c\udf1f' : score >= 70 ? '\ud83c\udf1f\ud83c\udf1f' : score >= 50 ? '\ud83c\udf1f' : '\u26a0\ufe0f';\n      responseMsg = `\ud83d\udcca *PREMIUM Match Score*\\n\\nCompatibility: *${score}/100* ${emoji}\\n\\n${score >= 70 ? '\ud83c\udf1f Excellent match! High chance of connection.' : score >= 50 ? '\u2705 Good fit. Strong candidate.' : '\u26a0\ufe0f Moderate match.'}\\n\\nReply *SUBMIT* to express interest (admin reviews within 2 hours)\\nReply *CANCEL* to skip`;\n    }\n    break;\n  }\n\n  case 'VENDOR_SUBMIT': {\n    responseMsg = `\u23f3 Processing your PREMIUM submission...`;\n    break;\n  }\n\n  default: {\n    return [{ json: { skip: true, phone, currentStep } }];\n  }\n}\n\nreturn [{\n  json: {\n    phone,\n    responseMsg,\n    nextStep,\n    action,\n    actionData: JSON.stringify(actionData),\n    sessionData: JSON.stringify(sessionData),\n    sessionName,\n    currentStep,\n    shouldSendMsg: responseMsg.length > 0,\n    skip: false\n  }\n}];\n"
      },
      "id": "f2b-node-07",
      "name": "State Machine Premium",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "f2b-c2",
              "leftValue": "={{ $json.shouldSendMsg }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            },
            {
              "id": "f2b-c2b",
              "leftValue": "={{ $json.shouldSendMsg }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "f2b-node-08",
      "name": "IF Should Send Message",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1200,
        300
      ]
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v18.0/1051021614753488/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "messaging_product",
              "value": "whatsapp"
            },
            {
              "name": "to",
              "value": "={{ $('State Machine Premium').item.json.phone }}"
            },
            {
              "name": "type",
              "value": "text"
            },
            {
              "name": "text",
              "value": "={{ JSON.stringify({ body: $('State Machine Premium').item.json.responseMsg }) }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "f2b-node-09",
      "name": "Send WhatsApp Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1400,
        200
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "fdDoREIPqvBGQWFI",
          "name": "Meta WhatsApp API Auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const sm = $input.first().json;\nconst sessionName = sm.sessionName;\nconst phone = sm.phone;\nconst nextStep = sm.nextStep;\nconst sessionData = sm.sessionData;\n\nconst isUpdate = !!sessionName;\nconst method = isUpdate ? 'PUT' : 'POST';\nconst urlSuffix = isUpdate ? `/${encodeURIComponent(sessionName)}` : '';\n\nreturn [{ json: { method, urlSuffix, phone, nextStep, sessionData, isUpdate } }];\n"
      },
      "id": "f2b-node-10",
      "name": "Prepare Session Upsert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "f2b-c3",
              "leftValue": "={{ $json.urlSuffix }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f2b-node-11",
      "name": "IF New Session",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1600,
        400
      ]
    },
    {
      "parameters": {
        "url": "=http://frontend:8080/api/resource/RIFAH Session{{ $json.urlSuffix }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "method": "PUT",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "current_step",
              "value": "={{ $json.nextStep }}"
            },
            {
              "name": "session_data",
              "value": "={{ $json.sessionData }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "f2b-node-12",
      "name": "Update Session",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1800,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "TrXdy0OKoZPaxLo0",
          "name": "ERPNext API Auth"
        }
      }
    },
    {
      "parameters": {
        "url": "http://frontend:8080/api/resource/RIFAH Session",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone_number",
              "value": "={{ $json.phone }}"
            },
            {
              "name": "current_step",
              "value": "={{ $json.nextStep }}"
            },
            {
              "name": "session_data",
              "value": "={{ $json.sessionData }}"
            },
            {
              "name": "status",
              "value": "Active"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "f2b-node-13",
      "name": "Create Session",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1800,
        500
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "TrXdy0OKoZPaxLo0",
          "name": "ERPNext API Auth"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "outputKey": "create_premium_lead",
              "conditions": {
                "conditions": [
                  {
                    "id": "f2b-sw1",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "create_premium_lead",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and"
              },
              "renameOutput": true
            },
            {
              "outputKey": "generate_ai_questions",
              "conditions": {
                "conditions": [
                  {
                    "id": "f2b-sw2",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "generate_ai_questions",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and"
              },
              "renameOutput": true
            },
            {
              "outputKey": "send_introductions",
              "conditions": {
                "conditions": [
                  {
                    "id": "f2b-sw3",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "send_introductions",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and"
              },
              "renameOutput": true
            },
            {
              "outputKey": "vendor_lead_lookup",
              "conditions": {
                "conditions": [
                  {
                    "id": "f2b-sw4",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "vendor_lead_lookup",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and"
              },
              "renameOutput": true
            },
            {
              "outputKey": "generate_vendor_questions",
              "conditions": {
                "conditions": [
                  {
                    "id": "f2b-sw5",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "generate_vendor_questions",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and"
              },
              "renameOutput": true
            },
            {
              "outputKey": "calculate_vendor_score",
              "conditions": {
                "conditions": [
                  {
                    "id": "f2b-sw6",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "calculate_vendor_score",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and"
              },
              "renameOutput": true
            },
            {
              "outputKey": "submit_vendor_interest",
              "conditions": {
                "conditions": [
                  {
                    "id": "f2b-sw7",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "submit_vendor_interest",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and"
              },
              "renameOutput": true
            },
            {
              "outputKey": "admin_approval",
              "conditions": {
                "conditions": [
                  {
                    "id": "f2b-sw8",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "admin_approval",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and"
              },
              "renameOutput": true
            },
            {
              "outputKey": "vendor_declined",
              "conditions": {
                "conditions": [
                  {
                    "id": "f2b-sw9",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "vendor_declined",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and"
              },
              "renameOutput": true
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "id": "f2b-node-14",
      "name": "Switch Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        2000,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const sm = $('State Machine Premium').first().json;\nconst ad = JSON.parse(sm.actionData || '{}');\nconst ts = new Date().toISOString().replace('T',' ').substring(0,19);\nconst phone = sm.phone;\n\nconst leadType = ad.lead_type || ad.lead_type || 'BUY';\nconst desc = ad.lead_description || '';\nconst loc = ad.lead_location || '';\nconst urgency = ad.lead_urgency || 'FLEXIBLE';\nconst budget = ad.lead_budget || null;\nconst memberId = ad.member_id || '';\nconst memberName = ad.member_name || '';\n\n// Collect AI answers\nconst aiAnswers = {};\nfor (let i = 1; i <= 6; i++) {\n  if (ad[`ai_answer_${i}`]) aiAnswers[`Q${i}`] = ad[`ai_answer_${i}`];\n}\n\nconst leadId = `LEAD-PREM-${new Date().getFullYear()}-${Date.now().toString().slice(-6)}`;\nconst title = `${leadType}: ${desc.substring(0,60)}${desc.length > 60 ? '...' : ''}`;\n\nreturn [{ json: {\n  lead_id: leadId,\n  member_id: memberId,\n  member_name: memberName,\n  member_phone: phone,\n  tier: 'PREMIUM',\n  lead_type: leadType,\n  title,\n  description: desc,\n  location: loc,\n  urgency,\n  budget,\n  ai_qualification: JSON.stringify(aiAnswers),\n  status: 'Awaiting User Response',\n  created_at: ts,\n  posted_to_groups: '0',\n  is_premium_request: 0,\n  matched_vendors: '[]',\n  introduction_sent: '[]',\n  interested_vendors: '[]',\n  phone,\n  sd: sm.sessionData\n} }];\n"
      },
      "id": "f2b-node-15",
      "name": "Build Premium Lead Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2200,
        100
      ]
    },
    {
      "parameters": {
        "url": "http://frontend:8080/api/resource/RIFAH Lead",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "lead_id",
              "value": "={{ $json.lead_id }}"
            },
            {
              "name": "member_id",
              "value": "={{ $json.member_id }}"
            },
            {
              "name": "member_name",
              "value": "={{ $json.member_name }}"
            },
            {
              "name": "member_phone",
              "value": "={{ $json.member_phone }}"
            },
            {
              "name": "tier",
              "value": "PREMIUM"
            },
            {
              "name": "lead_type",
              "value": "={{ $json.lead_type }}"
            },
            {
              "name": "title",
              "value": "={{ $json.title }}"
            },
            {
              "name": "description",
              "value": "={{ $json.description }}"
            },
            {
              "name": "location",
              "value": "={{ $json.location }}"
            },
            {
              "name": "urgency",
              "value": "={{ $json.urgency }}"
            },
            {
              "name": "budget",
              "value": "={{ $json.budget }}"
            },
            {
              "name": "ai_qualification",
              "value": "={{ $json.ai_qualification }}"
            },
            {
              "name": "status",
              "value": "Awaiting User Response"
            },
            {
              "name": "created_at",
              "value": "={{ $json.created_at }}"
            },
            {
              "name": "is_premium_request",
              "value": "0"
            },
            {
              "name": "matched_vendors",
              "value": "[]"
            },
            {
              "name": "introduction_sent",
              "value": "[]"
            },
            {
              "name": "interested_vendors",
              "value": "[]"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "f2b-node-16",
      "name": "Create Premium Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2400,
        100
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "TrXdy0OKoZPaxLo0",
          "name": "ERPNext API Auth"
        }
      }
    },
    {
      "parameters": {
        "url": "=http://frontend:8080/api/resource/RIFAH Member",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "filters",
              "value": "={{ JSON.stringify([[\"city_state\",\"like\",\"%\" + ($('Build Premium Lead Data').item.json.location.split(',')[0].trim()) + \"%\"],[\"status\",\"in\",[\"Active Free\",\"Active Premium\"]],[\"rifah_id\",\"!=\",$('Build Premium Lead Data').item.json.member_id]]) }}"
            },
            {
              "name": "fields",
              "value": "[\"name\",\"rifah_id\",\"full_name\",\"business_name\",\"city_state\",\"industry\",\"membership_tier\",\"whatsapp_number\"]"
            },
            {
              "name": "limit",
              "value": "500"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "f2b-node-17",
      "name": "Get Vendors by City",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2600,
        100
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "TrXdy0OKoZPaxLo0",
          "name": "ERPNext API Auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const leadData = $('Build Premium Lead Data').first().json;\nconst vendorsRaw = $input.first().json?.data || [];\nconst leadLocation = (leadData.location || '').toLowerCase();\nconst leadIndustry = (leadData.lead_type || '').toLowerCase();\nconst leadDesc = (leadData.description || '').toLowerCase();\n\n// Industry keyword map for related matching\nconst industryKeywords = {\n  'packaging': ['bottle','container','packaging','box','carton','pouch','wrap'],\n  'manufacturing': ['machine','equipment','manufacturing','production','fabricat'],\n  'food': ['food','beverage','juice','snack','ingredient','grain','spice'],\n  'textile': ['fabric','cloth','textile','garment','cotton','yarn','knit'],\n  'it': ['software','website','app','development','digital','tech','cloud'],\n  'construction': ['construction','building','cement','steel','plumb','electr'],\n  'retail': ['retail','shop','store','outlet','wholesale','distribution'],\n  'trading': ['trading','export','import','wholesale','supply','procurement']\n};\n\nconst relatedIndustries = {\n  'packaging': ['manufacturing','food','retail'],\n  'food': ['packaging','retail','trading'],\n  'textile': ['manufacturing','retail','trading'],\n  'it': ['services'],\n  'construction': ['manufacturing','trading'],\n  'retail': ['trading','packaging'],\n  'trading': ['manufacturing','retail','packaging']\n};\n\nfunction getIndustryFromDesc(desc) {\n  for (const [ind, kws] of Object.entries(industryKeywords)) {\n    if (kws.some(k => desc.includes(k))) return ind;\n  }\n  return '';\n}\n\nconst detectedLeadIndustry = getIndustryFromDesc(leadDesc);\nconst cityKeyword = leadLocation.split(',')[0].trim();\n\nconst scored = vendorsRaw.map(v => {\n  let score = 0;\n  const vCity = (v.city_state || '').toLowerCase();\n  const vInd = (v.industry || '').toLowerCase();\n  const vTier = (v.membership_tier || '').toLowerCase();\n\n  // City match\n  if (vCity.includes(cityKeyword) || cityKeyword.includes(vCity.split(',')[0].trim())) score += 30;\n\n  // Industry match\n  if (detectedLeadIndustry && vInd.includes(detectedLeadIndustry)) {\n    score += 20;\n  } else if (detectedLeadIndustry) {\n    const related = relatedIndustries[detectedLeadIndustry] || [];\n    if (related.some(r => vInd.includes(r))) score += 10;\n  }\n\n  // Premium member bonus\n  if (vTier === 'premium') score += 5;\n\n  // Experience proxy (use rifah_id year if available)\n  const idYear = parseInt((v.rifah_id || '').replace(/\\D/g,'').substring(0,4));\n  if (!isNaN(idYear)) {\n    const exp = Math.max(0, new Date().getFullYear() - idYear);\n    score += Math.min(exp, 10);\n  }\n\n  return {\n    vendor_id: v.rifah_id || v.name,\n    business_name: v.business_name || v.full_name || 'Unknown',\n    city_state: v.city_state || '',\n    industry: v.industry || '',\n    tier: v.membership_tier || 'FREE',\n    phone: v.whatsapp_number || '',\n    match_score: score\n  };\n}).filter(v => v.match_score >= 40)\n  .sort((a,b) => b.match_score - a.match_score)\n  .slice(0, 10);\n\nreturn [{ json: { matched: scored, lead_id: leadData.lead_id, phone: leadData.phone, sd: leadData.sd } }];\n"
      },
      "id": "f2b-node-18",
      "name": "Run Matching Algorithm",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2800,
        100
      ]
    },
    {
      "parameters": {
        "url": "=http://frontend:8080/api/resource/RIFAH Lead/{{ encodeURIComponent($json.lead_id) }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "method": "PUT",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "matched_vendors",
              "value": "={{ JSON.stringify($json.matched) }}"
            },
            {
              "name": "status",
              "value": "Awaiting User Response"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "f2b-node-19",
      "name": "Store Matched Vendors in Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        3000,
        100
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "TrXdy0OKoZPaxLo0",
          "name": "ERPNext API Auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const matchData = $('Run Matching Algorithm').first().json;\nconst matched = matchData.matched || [];\nconst phone = matchData.phone;\nconst leadId = matchData.lead_id;\n\nlet sd = {};\ntry { sd = JSON.parse(matchData.sd || '{}'); } catch(e) {}\n\n// Update session data with matched vendors + lead ID\nsd.matched_vendors = matched;\nsd.premium_lead_id = leadId;\n\nconst isFewMatches = matched.length < 3;\n\nlet listMsg = '';\nif (matched.length > 0) {\n  const vendorLines = matched.map((v, i) =>\n    `${i+1}. *${v.business_name}*, ${v.city_state}\\n   Score: ${v.match_score}/100 | ${v.industry} | ${v.tier}`\n  ).join('\\n');\n  listMsg = `\u2b50 *PREMIUM Smart Match Results*\\n\\nFound *${matched.length} vendor(s)* matching your requirement:\\n\\n${vendorLines}\\n\\n${isFewMatches ? '_(Also posting to premium groups as fallback)_\\n\\n' : ''}Reply with vendor numbers to contact directly:\\n\u2022 Single: \"1\" or \"1,2,3\"\\n\u2022 Range: \"1-5\"\\n\u2022 All: \"ALL\"`;\n} else {\n  listMsg = `\ud83d\udd0d *No direct matches found*\\n\\nNo vendors in our database perfectly match your requirement right now.\\n\\n\u2b50 *Posting to 5-7 PREMIUM WhatsApp groups now...*\\nVendors will see your \u2b50 PREMIUM REQUEST and respond directly.\\n\\nYou'll be notified when vendors respond.`;\n}\n\nreturn [{ json: { phone, listMsg, sd: JSON.stringify(sd), leadId, isFewMatches, matchCount: matched.length } }];\n"
      },
      "id": "f2b-node-20",
      "name": "Format Vendor List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3200,
        100
      ]
    },
    {
      "parameters": {
        "url": "=http://frontend:8080/api/resource/RIFAH Session/{{ $('State Machine Premium').item.json.sessionName }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "method": "PUT",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "current_step",
              "value": "VENDOR_SELECTION"
            },
            {
              "name": "session_data",
              "value": "={{ $json.sd }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "f2b-node-21",
      "name": "Update Session with Matches",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        3400,
        100
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "TrXdy0OKoZPaxLo0",
          "name": "ERPNext API Auth"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v18.0/1051021614753488/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "messaging_product",
              "value": "whatsapp"
            },
            {
              "name": "to",
              "value": "={{ $('Format Vendor List').item.json.phone }}"
            },
            {
              "name": "type",
              "value": "text"
            },
            {
              "name": "text",
              "value": "={{ JSON.stringify({ body: $('Format Vendor List').item.json.listMsg }) }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "f2b-node-22",
      "name": "Send Vendor List to User",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        3600,
        100
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "fdDoREIPqvBGQWFI",
          "name": "Meta WhatsApp API Auth"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "f2b-c4",
              "leftValue": "={{ $json.isFewMatches }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "f2b-node-23",
      "name": "IF Few Matches",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3800,
        100
      ]
    },
    {
      "parameters": {
        "url": "=http://frontend:8080/api/resource/RIFAH Lead/{{ encodeURIComponent($('Format Vendor List').item.json.leadId) }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "method": "PUT",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "posted_to_groups",
              "value": "1"
            },
            {
              "name": "is_premium_request",
              "value": "1"
            },
            {
              "name": "status",
              "value": "Posted to Groups (Premium)"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "f2b-node-24",
      "name": "Post to Groups Fallback",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        4000,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "TrXdy0OKoZPaxLo0",
          "name": "ERPNext API Auth"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v18.0/1051021614753488/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "messaging_product",
              "value": "whatsapp"
            },
            {
              "name": "to",
              "value": "={{ $json.admin_phone || \"910000000000\" }}"
            },
            {
              "name": "type",
              "value": "text"
            },
            {
              "name": "text",
              "value": "={{ JSON.stringify({ body: '\ud83d\udd14 NEW PREMIUM LEAD\\n\\nLead ID: ' + $('Build Premium Lead Data').item.json.lead_id + '\\nMember: ' + $('Build Premium Lead Data').item.json.member_name + '\\nType: ' + $('Build Premium Lead Data').item.json.lead_type + '\\nLocation: ' + $('Build Premium Lead Data').item.json.location + '\\nMatches found: ' + ($('Run Matching Algorithm').item.json.matched?.length || 0) + '\\nPosted to groups: YES (few matches fallback)' }) }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "f2b-node-25",
      "name": "Notify Admin Fallback",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        4200,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "fdDoREIPqvBGQWFI",
          "name": "Meta WhatsApp API Auth"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "gpt-4o-mini"
            },
            {
              "name": "messages",
              "value": "={{ JSON.stringify([{role:'system',content:'You are a B2B lead qualification expert for an Indian chamber of commerce.'},{role:'user',content:'Generate 4-6 qualification questions for a ' + JSON.parse($(\\'State Machine Premium\\').item.json.actionData).lead_type + ' lead: \"' + JSON.parse($(\\'State Machine Premium\\').item.json.actionData).lead_description + '\" Location: ' + JSON.parse($(\\'State Machine Premium\\').item.json.actionData).lead_location + '. Return JSON: {\"questions\":[\"q1\",\"q2\",...]}'}]) }}"
            },
            {
              "name": "max_tokens",
              "value": "300"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "f2b-node-26",
      "name": "Call OpenAI Lead Questions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2200,
        500
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "OpenAI_API_Auth",
          "name": "OpenAI API Auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const res = $input.first().json;\nconst content = res?.choices?.[0]?.message?.content || '';\nconst ad = JSON.parse($('State Machine Premium').first().json.actionData || '{}');\nconst leadType = ad.lead_type || 'BUY';\n\nconst fallbackQ = {\n  BUY: ['What quantity do you need?','What quality grade/specification is required?','What is your preferred delivery timeline?','Do you have existing suppliers?'],\n  SELL: ['What quantity is available?','What certifications does your product have?','What is your minimum order quantity?','Can you deliver pan-India?'],\n  'SERVICE NEED': ['How frequently do you need this service?','Do you have existing service providers?','What is your contract duration preference?','What are your key quality requirements?'],\n  'SERVICE OFFER': ['How many clients have you served in this domain?','What is your team size?','What is your typical turnaround time?','Which regions do you serve?']\n};\n\nlet questions = fallbackQ[leadType] || fallbackQ['BUY'];\ntry {\n  const parsed = JSON.parse(content);\n  if (parsed.questions?.length >= 3) questions = parsed.questions.slice(0,6);\n} catch(e) {\n  const match = content.match(/\\[.*?\\]/s);\n  if (match) { try { const arr = JSON.parse(match[0]); if (arr.length >= 3) questions = arr.slice(0,6); } catch(e2) {} }\n}\n\nreturn [{ json: { questions, phone: $('State Machine Premium').first().json.phone } }];\n"
      },
      "id": "f2b-node-27",
      "name": "Parse AI Lead Questions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        500
      ]
    },
    {
      "parameters": {
        "jsCode": "const { questions, phone } = $input.first().json;\nconst sm = $('State Machine Premium').first().json;\nlet sd = {};\ntry { sd = JSON.parse(sm.sessionData || '{}'); } catch(e) {}\nsd.ai_questions = questions;\nreturn [{ json: { questions, phone, sd: JSON.stringify(sd), q1: questions[0] } }];\n"
      },
      "id": "f2b-node-28",
      "name": "Store AI Questions in Session",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2600,
        500
      ]
    },
    {
      "parameters": {
        "url": "=http://frontend:8080/api/resource/RIFAH Session/{{ $('State Machine Premium').item.json.sessionName }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "method": "PUT",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "session_data",
              "value": "={{ $json.sd }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "f2b-node-29",
      "name": "Persist AI Questions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2800,
        500
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "TrXdy0OKoZPaxLo0",
          "name": "ERPNext API Auth"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v18.0/1051021614753488/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "messaging_product",
              "value": "whatsapp"
            },
            {
              "name": "to",
              "value": "={{ $('Store AI Questions in Session').item.json.phone }}"
            },
            {
              "name": "type",
              "value": "text"
            },
            {
              "name": "text",
              "value": "={{ JSON.stringify({ body: '\ud83e\udd16 *Qualification Questions*\\n\\nTo find your best PREMIUM match, please answer ' + $('Store AI Questions in Session').item.json.questions.length + ' questions.\\n\\n*Q1:* ' + $('Store AI Questions in Session').item.json.q1 }) }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "f2b-node-30",
      "name": "Send AI Q1 to User",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        3000,
        500
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "fdDoREIPqvBGQWFI",
          "name": "Meta WhatsApp API Auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const sm = $('State Machine Premium').first().json;\nconst ad = JSON.parse(sm.actionData || '{}');\nconst selectedVendors = ad.selected_vendors || [];\nconst leadId = ad.lead_id;\nconst buyerPhone = sm.phone;\n\n// Get lead description from session data\nlet sd = {};\ntry { sd = JSON.parse(sm.sessionData || '{}'); } catch(e) {}\n\nconst ts = new Date().toISOString().replace('T',' ').substring(0,19);\nconst deadline = new Date(Date.now() + 12 * 60 * 60 * 1000).toISOString().replace('T',' ').substring(0,19);\n\nconst intros = selectedVendors.map(v => ({\n  vendor_id: v.vendor_id,\n  vendor_phone: v.phone,\n  vendor_name: v.business_name,\n  match_score: v.match_score,\n  sent_at: ts,\n  deadline,\n  status: 'Sent',\n  intro_message: `\u2b50 *PREMIUM LEAD MATCH* \u2b50\\n\\n\ud83d\udccb *Requirement:* ${sd.lead_description ? sd.lead_description.substring(0,120) : 'See details'}\\n\ud83d\udccd *Location:* ${sd.lead_location || 'N/A'}\\n\ud83d\udcb0 *Budget:* ${sd.lead_budget || 'Negotiable'}\\n\u23f1\ufe0f *Urgency:* ${sd.lead_urgency || 'N/A'}\\n\\n\u2728 *Your Match Score: ${v.match_score}/100*\\n\ud83c\udfe2 Matched on: city, industry\\n\\n\u23f0 *Response deadline: 12 hours*\\n\\nReply:\\n*INTERESTED* \u2014 Start qualification\\n*DETAILS* \u2014 See full requirements\\n*NOT NOW* \u2014 Decline`\n}));\n\nreturn intros.map(intro => ({ json: { ...intro, lead_id: leadId, buyer_phone: buyerPhone, total: selectedVendors.length } }));\n"
      },
      "id": "f2b-node-31",
      "name": "Build Intro Messages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2200,
        900
      ]
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v18.0/1051021614753488/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "messaging_product",
              "value": "whatsapp"
            },
            {
              "name": "to",
              "value": "={{ $json.vendor_phone }}"
            },
            {
              "name": "type",
              "value": "text"
            },
            {
              "name": "text",
              "value": "={{ JSON.stringify({ body: $json.intro_message }) }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "f2b-node-32",
      "name": "Send Intro to Vendor",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2400,
        900
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "fdDoREIPqvBGQWFI",
          "name": "Meta WhatsApp API Auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst introsSent = items.map(item => ({\n  vendor_id: item.json.vendor_id,\n  vendor_name: item.json.vendor_name,\n  vendor_phone: item.json.vendor_phone,\n  match_score: item.json.match_score,\n  sent_at: item.json.sent_at,\n  deadline: item.json.deadline,\n  status: 'Sent'\n}));\nconst leadId = items[0]?.json.lead_id;\nconst buyerPhone = items[0]?.json.buyer_phone;\nconst total = items[0]?.json.total || introsSent.length;\nreturn [{ json: { introsSent, leadId, buyerPhone, total } }];\n"
      },
      "id": "f2b-node-33",
      "name": "Collect Intro Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2600,
        900
      ]
    },
    {
      "parameters": {
        "url": "=http://frontend:8080/api/resource/RIFAH Lead/{{ encodeURIComponent($json.leadId) }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "method": "PUT",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "introduction_sent",
              "value": "={{ JSON.stringify($json.introsSent) }}"
            },
            {
              "name": "status",
              "value": "Introductions Sent"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "f2b-node-34",
      "name": "Update Lead Intros Sent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2800,
        900
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "TrXdy0OKoZPaxLo0",
          "name": "ERPNext API Auth"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v18.0/1051021614753488/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "messaging_product",
              "value": "whatsapp"
            },
            {
              "name": "to",
              "value": "={{ $json.buyerPhone }}"
            },
            {
              "name": "type",
              "value": "text"
            },
            {
              "name": "text",
              "value": "={{ JSON.stringify({ body: '\u2705 *PREMIUM Introductions Sent!*\\n\\n\ud83d\udce8 Sent personalized messages to *' + $json.total + ' vendor(s)*\\n\u23f0 Vendors have 12 hours to respond\\n\\nYou will be notified when vendors qualify and admin approves a connection.\\n\\n_Lead ID: ' + $json.leadId + '_' }) }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "f2b-node-35",
      "name": "Confirm to Buyer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        3000,
        900
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "fdDoREIPqvBGQWFI",
          "name": "Meta WhatsApp API Auth"
        }
      }
    },
    {
      "parameters": {
        "url": "=http://frontend:8080/api/resource/RIFAH Lead",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "filters",
              "value": "={{ JSON.stringify([[\"name\",\"=\",$('State Machine Premium').item.json.sessionData ? JSON.parse($('State Machine Premium').item.json.sessionData).lead_id || '' : '']]) }}"
            },
            {
              "name": "fields",
              "value": "[\"name\",\"lead_id\",\"description\",\"location\",\"budget\",\"urgency\",\"member_phone\",\"member_name\",\"tier\"]"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "f2b-node-36",
      "name": "Get Lead for Vendor",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2200,
        1300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "TrXdy0OKoZPaxLo0",
          "name": "ERPNext API Auth"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "gpt-4o-mini"
            },
            {
              "name": "messages",
              "value": "={{ JSON.stringify([{role:'system',content:'You generate vendor qualification questions for B2B leads in India.'},{role:'user',content:'Generate 6 questions to qualify a vendor for this PREMIUM lead: \"' + (JSON.parse($(\\'State Machine Premium\\').item.json.sessionData || '{}').lead_description || 'product/service lead') + '\". Lead type: ' + (JSON.parse($(\\'State Machine Premium\\').item.json.sessionData || '{}').lead_type || 'BUY') + '. Return JSON: {\"questions\":[\"q1\",...,\"q6\"]}'}]) }}"
            },
            {
              "name": "max_tokens",
              "value": "400"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "f2b-node-37",
      "name": "Call OpenAI Vendor Questions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2400,
        1300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "OpenAI_API_Auth",
          "name": "OpenAI API Auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const res = $input.first().json;\nconst content = res?.choices?.[0]?.message?.content || '';\nconst sm = $('State Machine Premium').first().json;\nlet sd = {};\ntry { sd = JSON.parse(sm.sessionData || '{}'); } catch(e) {}\n\nconst leadType = sd.lead_type || 'BUY';\nconst fallbackQ = {\n  BUY: ['How many years have you been supplying this product?','What is your production/supply capacity per month?','Do you have any quality certifications (ISO, BIS, etc.)?','What is your delivery timeline for bulk orders?','Which major clients have you served?','What is your pricing model (fixed/negotiable)?'],\n  SELL: ['What types of buyers do you typically work with?','Do you offer customization?','What is your minimum order for buyers?','Do you provide samples before bulk purchase?','What are your payment terms?','Can you provide references from previous buyers?'],\n  'SERVICE NEED': ['How many years of experience do you have in this service?','What is your team size for this service?','Can you provide a portfolio or case studies?','What is your typical project turnaround?','Do you handle projects outside your city?','What are your payment terms?'],\n  'SERVICE OFFER': ['What industries have you served?','What is your team size?','What is your typical project turnaround?','Do you operate pan-India?','Can you provide client references?','What are your pricing terms?']\n};\n\nlet questions = fallbackQ[leadType] || fallbackQ['BUY'];\ntry {\n  const parsed = JSON.parse(content);\n  if (parsed.questions?.length >= 4) questions = parsed.questions.slice(0,6);\n} catch(e) {}\n\nsd.vendor_questions = questions;\nreturn [{ json: { questions, q1: questions[0], phone: sm.phone, sd: JSON.stringify(sd) } }];\n"
      },
      "id": "f2b-node-38",
      "name": "Parse Vendor Questions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2600,
        1300
      ]
    },
    {
      "parameters": {
        "url": "=http://frontend:8080/api/resource/RIFAH Session/{{ $('State Machine Premium').item.json.sessionName }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "method": "PUT",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "current_step",
              "value": "VENDOR_Q1"
            },
            {
              "name": "session_data",
              "value": "={{ $json.sd }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "f2b-node-39",
      "name": "Store Vendor Questions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2800,
        1300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "TrXdy0OKoZPaxLo0",
          "name": "ERPNext API Auth"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v18.0/1051021614753488/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "messaging_product",
              "value": "whatsapp"
            },
            {
              "name": "to",
              "value": "={{ $('Parse Vendor Questions').item.json.phone }}"
            },
            {
              "name": "type",
              "value": "text"
            },
            {
              "name": "text",
              "value": "={{ JSON.stringify({ body: '\ud83e\udd16 *PREMIUM Vendor Qualification*\\n\\n' + $('Parse Vendor Questions').item.json.questions.length + ' questions to assess your match for this lead.\\n\\n*Q1:* ' + $('Parse Vendor Questions').item.json.q1 }) }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "f2b-node-40",
      "name": "Send Vendor Q1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        3000,
        1300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "fdDoREIPqvBGQWFI",
          "name": "Meta WhatsApp API Auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const sm = $('State Machine Premium').first().json;\nlet sd = {};\ntry { sd = JSON.parse(sm.sessionData || '{}'); } catch(e) {}\n\nconst answers = [];\nfor (let i = 1; i <= 6; i++) {\n  if (sd[`vendor_answer_${i}`]) answers.push(sd[`vendor_answer_${i}`]);\n}\n\nlet score = 50;\nconst questionCount = (sd.vendor_questions || []).length;\nconst perQ = answers.length > 0 ? Math.floor(40 / Math.min(questionCount, 6)) : 0;\n\nfor (const ans of answers) {\n  const words = ans.trim().split(/\\s+/).length;\n  if (words >= 5) score += perQ;\n  else if (words >= 2) score += Math.floor(perQ / 2);\n}\n\nscore = Math.min(score, 100);\nsd.compatibility_score = score;\n\nreturn [{ json: { score, phone: sm.phone, sd: JSON.stringify(sd) } }];\n"
      },
      "id": "f2b-node-41",
      "name": "Calculate Vendor Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2200,
        1700
      ]
    },
    {
      "parameters": {
        "url": "=http://frontend:8080/api/resource/RIFAH Session/{{ $('State Machine Premium').item.json.sessionName }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "method": "PUT",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "current_step",
              "value": "VENDOR_SCORE"
            },
            {
              "name": "session_data",
              "value": "={{ $json.sd }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "f2b-node-42",
      "name": "Update Session Score",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2400,
        1700
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "TrXdy0OKoZPaxLo0",
          "name": "ERPNext API Auth"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v18.0/1051021614753488/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "messaging_product",
              "value": "whatsapp"
            },
            {
              "name": "to",
              "value": "={{ $('Calculate Vendor Score').item.json.phone }}"
            },
            {
              "name": "type",
              "value": "text"
            },
            {
              "name": "text",
              "value": "={{ JSON.stringify({ body: '\ud83d\udcca *PREMIUM Match Score: ' + $('Calculate Vendor Score').item.json.score + '/100*\\n\\n' + ($('Calculate Vendor Score').item.json.score >= 80 ? '\ud83c\udf1f\ud83c\udf1f\ud83c\udf1f Excellent match! Very high probability of connection.' : $('Calculate Vendor Score').item.json.score >= 70 ? '\ud83c\udf1f\ud83c\udf1f Strong match. Good candidate.' : $('Calculate Vendor Score').item.json.score >= 50 ? '\ud83c\udf1f Good fit. Moderate match.' : '\u26a0\ufe0f Low match score.') + '\\n\\nReply *SUBMIT* to express interest (admin reviews within 2 hours)\\nReply *CANCEL* to skip' }) }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "f2b-node-43",
      "name": "Send Score to Vendor",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2600,
        1700
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "fdDoREIPqvBGQWFI",
          "name": "Meta WhatsApp API Auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const sm = $('State Machine Premium').first().json;\nlet sd = {};\ntry { sd = JSON.parse(sm.sessionData || '{}'); } catch(e) {}\n\nconst ts = new Date().toISOString().replace('T',' ').substring(0,19);\nconst vendorInterest = {\n  vendor_id: sd.vendor_id || '',\n  vendor_name: sd.vendor_name || '',\n  vendor_phone: sm.phone,\n  match_score: sd.match_score || 0,\n  compatibility_score: sd.compatibility_score || 0,\n  submitted_at: ts,\n  status: 'Pending Admin Approval'\n};\n\nreturn [{ json: { vendorInterest, lead_id: sd.lead_id || '', phone: sm.phone, sd: JSON.stringify(sd) } }];\n"
      },
      "id": "f2b-node-44",
      "name": "Build Vendor Interest",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2200,
        2100
      ]
    },
    {
      "parameters": {
        "url": "=http://frontend:8080/api/resource/RIFAH Lead/{{ encodeURIComponent($json.lead_id) }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "method": "GET",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "f2b-node-45",
      "name": "Get Lead Current Vendors",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2400,
        2100
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "TrXdy0OKoZPaxLo0",
          "name": "ERPNext API Auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const interest = $('Build Vendor Interest').first().json.vendorInterest;\nconst leadId = $('Build Vendor Interest').first().json.lead_id;\nconst phone = $('Build Vendor Interest').first().json.phone;\nconst leadRaw = $input.first().json;\nlet existing = [];\ntry { existing = JSON.parse(leadRaw?.data?.interested_vendors || '[]'); } catch(e) {}\nexisting.push(interest);\nreturn [{ json: { updated: JSON.stringify(existing), lead_id: leadId, phone, vendorInterest: interest } }];\n"
      },
      "id": "f2b-node-46",
      "name": "Merge Vendor Interest",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2600,
        2100
      ]
    },
    {
      "parameters": {
        "url": "=http://frontend:8080/api/resource/RIFAH Lead/{{ encodeURIComponent($json.lead_id) }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "method": "PUT",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "interested_vendors",
              "value": "={{ $json.updated }}"
            },
            {
              "name": "status",
              "value": "Has Interested Vendors"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "f2b-node-47",
      "name": "Store Vendor Interest",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2800,
        2100
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "TrXdy0OKoZPaxLo0",
          "name": "ERPNext API Auth"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v18.0/1051021614753488/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "messaging_product",
              "value": "whatsapp"
            },
            {
              "name": "to",
              "value": "={{ $env.ADMIN_WHATSAPP }}"
            },
            {
              "name": "type",
              "value": "text"
            },
            {
              "name": "text",
              "value": "={{ JSON.stringify({ body: '\ud83e\udd1d PREMIUM VENDOR MATCH FOR APPROVAL\\n\\n\ud83d\udccb Lead ID: ' + $('Merge Vendor Interest').item.json.lead_id + ' \u2b50 PREMIUM\\n\ud83d\udc64 Vendor: ' + $('Merge Vendor Interest').item.json.vendorInterest.vendor_name + ' (' + $('Merge Vendor Interest').item.json.vendorInterest.vendor_id + ')\\n\ud83d\udccd Phone: ' + $('Merge Vendor Interest').item.json.vendorInterest.vendor_phone + '\\n\\nMatch Score: ' + $('Merge Vendor Interest').item.json.vendorInterest.match_score + '/100\\nCompatibility: ' + $('Merge Vendor Interest').item.json.vendorInterest.compatibility_score + '/100\\n\\nAI Recommendation: ' + ($('Merge Vendor Interest').item.json.vendorInterest.compatibility_score >= 70 ? '\u2705 APPROVE' : $('Merge Vendor Interest').item.json.vendorInterest.compatibility_score >= 50 ? '\u26a0\ufe0f REVIEW' : '\u274c CONSIDER DECLINE') + '\\n\\n\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\\nActions (SLA: 2 hours):\\nCONNECT ' + $('Merge Vendor Interest').item.json.lead_id + ' ' + $('Merge Vendor Interest').item.json.vendorInterest.vendor_id + '\\nDECLINE ' + $('Merge Vendor Interest').item.json.lead_id + ' ' + $('Merge Vendor Interest').item.json.vendorInterest.vendor_id }) }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "f2b-node-48",
      "name": "Notify Admin Premium Match",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        3000,
        2100
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "fdDoREIPqvBGQWFI",
          "name": "Meta WhatsApp API Auth"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v18.0/1051021614753488/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "messaging_product",
              "value": "whatsapp"
            },
            {
              "name": "to",
              "value": "={{ $('Merge Vendor Interest').item.json.phone }}"
            },
            {
              "name": "type",
              "value": "text"
            },
            {
              "name": "text",
              "value": "={{ JSON.stringify({ body: '\u2705 *PREMIUM Interest Submitted!*\\n\\nYour interest in this lead has been submitted.\\n\ud83d\udcca Compatibility Score: ' + $('Merge Vendor Interest').item.json.vendorInterest.compatibility_score + '/100\\n\\nOur team will review within *2 hours* and connect you with the buyer if approved.\\n\\nYou will receive buyer contact details directly on approval.' }) }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "f2b-node-49",
      "name": "Send Vendor Confirmation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        3200,
        2100
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "fdDoREIPqvBGQWFI",
          "name": "Meta WhatsApp API Auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const sm = $('State Machine Premium').first().json;\nconst ad = JSON.parse(sm.actionData || '{}');\nreturn [{ json: { command: ad.command, lead_id: ad.lead_id, vendor_id: ad.vendor_id, admin_phone: ad.admin_phone } }];\n"
      },
      "id": "f2b-node-50",
      "name": "Parse Admin Command",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2200,
        2500
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "f2b-c5",
              "leftValue": "={{ $json.command }}",
              "rightValue": "CONNECT",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "f2b-node-51",
      "name": "IF CONNECT Command",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2400,
        2500
      ]
    },
    {
      "parameters": {
        "url": "=http://frontend:8080/api/resource/RIFAH Lead/{{ encodeURIComponent($('Parse Admin Command').item.json.lead_id) }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "method": "GET",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "f2b-node-52",
      "name": "Get Lead for Connection",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2600,
        2400
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "TrXdy0OKoZPaxLo0",
          "name": "ERPNext API Auth"
        }
      }
    },
    {
      "parameters": {
        "url": "=http://frontend:8080/api/resource/RIFAH Member",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "filters",
              "value": "={{ JSON.stringify([[\"rifah_id\",\"=\",$('Parse Admin Command').item.json.vendor_id]]) }}"
            },
            {
              "name": "fields",
              "value": "[\"name\",\"rifah_id\",\"full_name\",\"business_name\",\"whatsapp_number\",\"city_state\",\"industry\"]"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "f2b-node-53",
      "name": "Get Vendor Details",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2600,
        2600
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "TrXdy0OKoZPaxLo0",
          "name": "ERPNext API Auth"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v18.0/1051021614753488/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "messaging_product",
              "value": "whatsapp"
            },
            {
              "name": "to",
              "value": "={{ $('Get Lead for Connection').item.json.data?.member_phone }}"
            },
            {
              "name": "type",
              "value": "text"
            },
            {
              "name": "text",
              "value": "={{ JSON.stringify({ body: '\ud83c\udf89 *PREMIUM MATCH CONFIRMED!*\\n\\nYour lead has been matched with a qualified vendor!\\n\\n\ud83c\udfe2 *Vendor:* ' + ($('Get Vendor Details').item.json.data?.[0]?.business_name || 'N/A') + '\\n\ud83d\udccd *Location:* ' + ($('Get Vendor Details').item.json.data?.[0]?.city_state || 'N/A') + '\\n\ud83c\udfed *Industry:* ' + ($('Get Vendor Details').item.json.data?.[0]?.industry || 'N/A') + '\\n\ud83d\udcf1 *WhatsApp:* ' + ($('Get Vendor Details').item.json.data?.[0]?.whatsapp_number || 'N/A') + '\\n\\nPlease reach out directly to finalize your deal.\\n\\n_Lead ID: ' + $('Parse Admin Command').item.json.lead_id + '_' }) }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "f2b-node-54",
      "name": "Share Vendor to Buyer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2800,
        2400
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "fdDoREIPqvBGQWFI",
          "name": "Meta WhatsApp API Auth"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v18.0/1051021614753488/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "messaging_product",
              "value": "whatsapp"
            },
            {
              "name": "to",
              "value": "={{ $('Get Vendor Details').item.json.data?.[0]?.whatsapp_number }}"
            },
            {
              "name": "type",
              "value": "text"
            },
            {
              "name": "text",
              "value": "={{ JSON.stringify({ body: '\ud83c\udf89 *PREMIUM CONNECTION APPROVED!*\\n\\nYou have been connected with the buyer!\\n\\n\ud83d\udc64 *Buyer:* ' + ($('Get Lead for Connection').item.json.data?.member_name || 'N/A') + '\\n\ud83d\udcf1 *WhatsApp:* ' + ($('Get Lead for Connection').item.json.data?.member_phone || 'N/A') + '\\n\ud83d\udccb *Lead:* ' + ($('Get Lead for Connection').item.json.data?.title || 'N/A') + '\\n\\nPlease reach out to close the deal!\\n\\nGood luck! \ud83e\udd1d' }) }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "f2b-node-55",
      "name": "Share Buyer to Vendor",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2800,
        2600
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "fdDoREIPqvBGQWFI",
          "name": "Meta WhatsApp API Auth"
        }
      }
    },
    {
      "parameters": {
        "url": "=http://frontend:8080/api/resource/RIFAH Lead/{{ encodeURIComponent($('Parse Admin Command').item.json.lead_id) }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "method": "PUT",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "connection_made",
              "value": "1"
            },
            {
              "name": "status",
              "value": "Connected"
            },
            {
              "name": "approved_by",
              "value": "={{ $('Parse Admin Command').item.json.admin_phone }}"
            },
            {
              "name": "approved_at",
              "value": "={{ new Date().toISOString().replace('T',' ').substring(0,19) }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "f2b-node-56",
      "name": "Update Lead Connected",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        3000,
        2500
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "TrXdy0OKoZPaxLo0",
          "name": "ERPNext API Auth"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v18.0/1051021614753488/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "messaging_product",
              "value": "whatsapp"
            },
            {
              "name": "to",
              "value": "={{ $('Get Vendor Details').item.json.data?.[0]?.whatsapp_number }}"
            },
            {
              "name": "type",
              "value": "text"
            },
            {
              "name": "text",
              "value": "={{ JSON.stringify({ body: '\u274c *Lead Connection Declined*\\n\\nThank you for your interest in Lead ' + $('Parse Admin Command').item.json.lead_id + '.\\nThe admin has decided to proceed with another vendor.\\n\\nWe appreciate your time and will notify you of future matching leads. \ud83d\ude4f' }) }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "f2b-node-57",
      "name": "Send Decline to Vendor",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2600,
        2700
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "fdDoREIPqvBGQWFI",
          "name": "Meta WhatsApp API Auth"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "f2b-c6",
              "leftValue": "={{ $('Parse Admin Command').item.json.command }}",
              "rightValue": "CONNECT",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f2b-node-58",
      "name": "IF Is Connect Command",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2600,
        700
      ]
    },
    {
      "parameters": {
        "jsCode": "// vendor said NOT NOW \u2014 session goes to IDLE\n// This node is a no-op placeholder; a full implementation would\n// look up the RIFAH Lead by lead_id and mark introduction_sent status as Declined.\nconst sm = $('State Machine Premium').first().json;\nlet sd = {};\ntry { sd = JSON.parse(sm.sessionData || '{}'); } catch(e) {}\nreturn [{ json: { status: 'vendor_declined', phone: sm.phone, lead_id: sd.lead_id || '' } }];"
      },
      "id": "f2b-node-59",
      "name": "Update Vendor Declined",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        900
      ]
    }
  ],
  "connections": {
    "WhatsApp Webhook POST": {
      "main": [
        [
          {
            "node": "Extract Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Message": {
      "main": [
        [
          {
            "node": "IF Valid Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Valid Message": {
      "main": [
        [
          {
            "node": "Get Session",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Member",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Get Session": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Member": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "State Machine Premium",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "State Machine Premium": {
      "main": [
        [
          {
            "node": "IF Should Send Message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare Session Upsert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Switch Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Should Send Message": {
      "main": [
        [
          {
            "node": "Send WhatsApp Message",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Prepare Session Upsert": {
      "main": [
        [
          {
            "node": "IF New Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF New Session": {
      "main": [
        [
          {
            "node": "Update Session",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Action": {
      "main": [
        [
          {
            "node": "Build Premium Lead Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call OpenAI Lead Questions",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Intro Messages",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "Get Lead for Vendor",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Calculate Vendor Score",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Vendor Interest",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parse Admin Command",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Vendor Declined",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Premium Lead Data": {
      "main": [
        [
          {
            "node": "Create Premium Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Premium Lead": {
      "main": [
        [
          {
            "node": "Get Vendors by City",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Vendors by City": {
      "main": [
        [
          {
            "node": "Run Matching Algorithm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Matching Algorithm": {
      "main": [
        [
          {
            "node": "Store Matched Vendors in Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Matched Vendors in Lead": {
      "main": [
        [
          {
            "node": "Format Vendor List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Vendor List": {
      "main": [
        [
          {
            "node": "Update Session with Matches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Session with Matches": {
      "main": [
        [
          {
            "node": "Send Vendor List to User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Vendor List to User": {
      "main": [
        [
          {
            "node": "IF Few Matches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Few Matches": {
      "main": [
        [
          {
            "node": "Post to Groups Fallback",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Post to Groups Fallback": {
      "main": [
        [
          {
            "node": "Notify Admin Fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call OpenAI Lead Questions": {
      "main": [
        [
          {
            "node": "Parse AI Lead Questions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Lead Questions": {
      "main": [
        [
          {
            "node": "Store AI Questions in Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store AI Questions in Session": {
      "main": [
        [
          {
            "node": "Persist AI Questions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Persist AI Questions": {
      "main": [
        [
          {
            "node": "Send AI Q1 to User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Intro Messages": {
      "main": [
        [
          {
            "node": "Send Intro to Vendor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Intro to Vendor": {
      "main": [
        [
          {
            "node": "Collect Intro Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect Intro Results": {
      "main": [
        [
          {
            "node": "Update Lead Intros Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Lead Intros Sent": {
      "main": [
        [
          {
            "node": "Confirm to Buyer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Lead for Vendor": {
      "main": [
        [
          {
            "node": "Call OpenAI Vendor Questions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call OpenAI Vendor Questions": {
      "main": [
        [
          {
            "node": "Parse Vendor Questions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Vendor Questions": {
      "main": [
        [
          {
            "node": "Store Vendor Questions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Vendor Questions": {
      "main": [
        [
          {
            "node": "Send Vendor Q1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Vendor Score": {
      "main": [
        [
          {
            "node": "Update Session Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Session Score": {
      "main": [
        [
          {
            "node": "Send Score to Vendor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Vendor Interest": {
      "main": [
        [
          {
            "node": "Get Lead Current Vendors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Lead Current Vendors": {
      "main": [
        [
          {
            "node": "Merge Vendor Interest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Vendor Interest": {
      "main": [
        [
          {
            "node": "Store Vendor Interest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Vendor Interest": {
      "main": [
        [
          {
            "node": "Notify Admin Premium Match",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Admin Premium Match": {
      "main": [
        [
          {
            "node": "Send Vendor Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Admin Command": {
      "main": [
        [
          {
            "node": "IF CONNECT Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF CONNECT Command": {
      "main": [
        [
          {
            "node": "Get Vendor Details",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Vendor Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Lead for Connection": {
      "main": [
        [
          {
            "node": "Share Vendor to Buyer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Vendor Details": {
      "main": [
        [
          {
            "node": "IF Is Connect Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Share Vendor to Buyer": {
      "main": [
        [
          {
            "node": "Share Buyer to Vendor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Share Buyer to Vendor": {
      "main": [
        [
          {
            "node": "Update Lead Connected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Is Connect Command": {
      "main": [
        [
          {
            "node": "Get Lead for Connection",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Decline to Vendor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "id": "flow2b-share-lead-001",
  "tags": [
    {
      "name": "rifah"
    },
    {
      "name": "flow-2b"
    }
  ],
  "versionId": "275649ee-945a-40fc-92e5-28ed735a9fa0"
}